<div><h1>Menu</h1></div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Served During</th>
            <th>Ingredients</th>
            <th>Calories</th>
            <th>Allergens</th>
            <th>Diet</th>
        </tr>
    </thead>
    <tbody>
        <%@menus.each do |m|%>
        <tr>
            <td> <%= link_to "#{m.name}", menu_path(m.id)%> </td>
            <td> <%= m.description%> </td>
            <td> <%= m.meal_of_day%> </td>
            <td> <%= m.ingredients%> </td>
            <td> <%= m.calories%> </td>
            <td> <%= m.allergens%> </td>
            <td> <%= m.diet%> </td>
        </tr>
        <%end%>
    </tbody>
</table>
<br>
<div>
<%= link_to "New Menu Item", new_menu_path%>
<br> 
<%= link_to "Go to Dining Hall Hour Info", dininghalls_path%>
</div>