<div>
<h1>Menu</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Served During</th>
            <th>Ingredients</th>
            <th>Calories</th>
            <th>Allergens</th>
            <th>Diet</th>
        </tr>
    </thead>
    <tbody>
        <%@menus.each do |m|%>
        <tr>
            <td class="name"> <%= link_to "#{m.name}", menu_path(m.id)%> </td>
            <td class="description"> <%= m.description%> </td>
            <td class="meal"> <%= m.meal_of_day%> </td>
            <td class="ingredients"> <%= m.ingredients%> </td>
            <td class="calories"> <%= m.calories%> </td>
            <td class="allergens"> <%= m.allergens%> </td>
            <td class="diet"> <%= m.diet%> </td>
        </tr>
        <%end%>
    </tbody>
</table>
<br>
<div>
<%= link_to "New Menu Item", new_menu_path%>
<br> 
</div>