<h1> Menu Item </h1>

<dl>
<dt> Name </dt>
<dd> <%= @menu.name %> </dd>

<dt> Description </dt>
<dd> <%= @menu.description %> </dd>

<dt> Meal Available </dt>
<dd> <%= @menu.meal_of_day %> </dd>

<dt> Ingredients </dt>
<dd> <%= @menu.ingredients %> </dd>

<dt> Calories </dt>
<dd> <%= @menu.calories %> </dd>

<dt> Allergens </dt>
<dd> <%= @menu.allergens %> </dd>

<dt> Diet </dt>
<dd> <%= @menu.diet %> </dd>

<br>
<% if user_signed_in? && current_user.admin %>
<%= link_to "Update Menu Item", edit_menu_path(@menu)%>
<% end %>
<br>
<%= link_to "Back", get_previous_path %>