
    <%= item_form.label :name, :class=>"field_label"%>
    <%= item_form.text_field :name, :class =>"rounded_input"%>   

    <br>
    <%= item_form.label :description, :class=>"field_label"%>
    <%= item_form.text_field :description, :class =>"rounded_input"%>

    <br>
    <%= item_form.label :ingredients, :class=>"field_label"%>
    <%= item_form.text_field :ingredients, :class =>"rounded_input"%>

    <br>
    <%= item_form.label :calories, :class=>"field_label"%>
    <%= item_form.number_field :calories, :class =>"rounded_input"%>

    <br>
    <%# item_form.text_field :allergens, :class =>"rounded_input"%>
    <div class="select">
    <%= item_form.label :allergens, :class=>"field_label"%>
    <%= check_box_tag "dairy", "dairy"%>
    <%= label_tag "Contains Dairy"%>
    <br>
    <%= check_box_tag "gluten", "gluten"%>
    <%= label_tag "Contains Gluten"%>
    <br>
    <%= check_box_tag "soy", "soy"%>
    <%= label_tag "Contains Soy" %>
    <br>
    <%= check_box_tag "nuts", "nuts"%>
    <%= label_tag "Contains Nuts" %>
    </div>
    
    
    <div class="select">
    <%= item_form.label :diet, :class=>"field_label"%>
    <%= check_box_tag "vegan", "vegan"%>
    <%= label_tag "Vegan"%>
    <br>
    <%= check_box_tag "vegetarian", "vegetarian"%>
    <%= label_tag "Vegetarian"%>
    <%# item_form.text_field :diet, :class =>"rounded_input"%>
    </div>
   
    <div class="select">
    <%= item_form.label :status, :class=>"field_label"%>
    <%= item_form.select :status, [["Available"], ["Unavailable"]], :class=>"dropdown-menu" %>
    </div>
    <%# item_form.text_field :status, :class =>"rounded_input"%>