<div>
<h1>Menu Items</h1>
<table>
  <tr>
  <%# I think we can leave this bc it actually deals with the menu not items %>
    <td class="menusort"> 
      <%= link_to "All Day Menu", menu_items_path(:order => nil)%> 
    </td>
    <td class="menusort"> 
      <%= link_to "Breakfast Menu", menu_items_path(:order => "Breakfast")%> 
    </td>
    <td class="menusort"> 
      <%= link_to "Lunch Menu", menu_items_path(:order => "Lunch")%> 
    </td>
    <td class="menusort"> 
      <%= link_to "Dinner Menu", menu_items_path(:order => "Dinner")%> 
    </td>
  </tr>
</table>
</div>
<div>
  <%= form_with url: menu_items_path, local: true, method: :get do %>
    <%# select_tag "Dietary Resrictions", raw("<option>Test</option><option>Test2</option>"), multiple: true, class: 'form_input' %>
    <%= check_box_tag "dairy", "dairy"%>
    <%= label_tag "Dairy Free" %>
    <br>
    <%= check_box_tag "gluten", "gluten"%>
    <%= label_tag "Gluten Free"%>
    <br>
    <%= check_box_tag "soy", "soy"%>
    <%= label_tag "Soy Free"%>
    <br>
    <%= check_box_tag "nuts", "nuts"%>
    <%= label_tag "Nut Free"%>
    <br>
    <%= check_box_tag "vegetarian", "vegetarian"%>
    <%= label_tag "Vegetarian"%>
    <br>
    <%= check_box_tag "vegan", "vegan"%>
    <%= label_tag "Vegan"%>
    <br>

    <%= submit_tag "Filter"%>
  <% end %>
</div>

<br>
<p> Menu Hours: <%= Menu.get_menu_hours(params[:order])%>
</p> 
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Served During</th>
            <th>Ingredients</th>
            <th>Calories</th>
            <th>Allergens</th>
            <th>Diet</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
          <%=@menu_items.each do |m|%>
            <td class="name"> <%= link_to "#{m.name}", menu_item_path(m.id)%> </td>
            <td class="description"> <%= m.description%> </td>
            <td class="meal"> <%# m.meal_of_day%> </td>
            <td class="ingredients"> <%= m.ingredients%> </td>
            <td class="calories"> <%= m.calories%> </td>
            <td class="allergens"> <%= m.allergens%> </td>
            <td class="diet"> <%= m.diet%> </td>
            <td class ="status"> <%=m.status%> </td>
        </tr>
        <%end%>
    </tbody>
</table>
<br>
<div>
<% if user_signed_in? && current_user.admin %>
<%= link_to "New Menu Item", new_menu_item_path%>
<% end %>
<br> 
<%= link_to "Go to Dining Hall Hour Info", dininghalls_path%>
<br>
<%= link_to "Back", get_previous_path %>
</div>