<% if flash[:warning] %>
    <div>
      <div>
        <%= "#{flash[:warning]}" %>
      </div>
    </div>
<% end %>
<h1 class="header">New Menu Item</h1>

<%= form_with model: @menu_item, local: true do |item_form| %>
<br> 

    <%= render 'form_template', item_form: item_form%>
    <br>
    <%# item_form.hidden_field_tag "menu_id", session[:menu_id] %>
    <%= item_form.submit "Create Menu Item", :class=>"btn_sign"%>
<% end %>
<br>
<%= link_to "Back", (menu_path(session[:menu_id]) unless session[:menu_id].nil?), :class =>"back" %>

