<h1> Menu Item </h1>

<dl>
<dt> Name </dt>
<dd> <%= @menu_item.name %> </dd>

<dt> Description </dt>
<dd> <%= @menu_item.description %> </dd>

<dt> Meal Available </dt>
<dd> <%= @menu_item.meal_of_day %> </dd>

<dt> Ingredients </dt>
<dd> <%= @menu_item.ingredients %> </dd>

<dt> Calories </dt>
<dd> <%= @menu_item.calories %> </dd>

<dt> Allergens </dt>
<dd> <%= @menu_item.allergens %> </dd>

<dt> Diet </dt>
<dd> <%= @menu_item.diet %> </dd>

<dt> Status </td>
<dd> <%= @menu_item.status %> </dd>
<br>
<% if user_signed_in? && current_user.admin %>
<%= link_to "Update Menu Item", edit_menu_item_path(@menu_item)%>
<br>
<%= button_to "Delete Item", menu_item_path(@menu_item), method: :delete %>
<% end %>
<br>
<%= link_to "Back", menu_items_path %>