
<h1 class="header"> Menu Item </h1>
<div class="select">
<dl>
<dt> Name </dt>
<dd> <%= @menu_item.name %> </dd>

<dt> Description </dt>
<dd> <%= @menu_item.description %> </dd>


<dt> Ingredients </dt>
<dd> <%= @menu_item.ingredients %> </dd>

<dt> Calories </dt>
<dd> <%= @menu_item.calories %> </dd>

<dt> Allergens </dt>
<dd> <%= @menu_item.allergens %> </dd>

<dt> Diet </dt>
<dd> <%= @menu_item.diet %> </dd>

<dt> Status </td>
<dd> <%= @menu_item.status %> </dd>
<br>
</div>

<% if user_signed_in? && current_user.admin %>
<%= link_to "Update Menu Item", edit_menu_item_path(@menu_item), :class=>"btn_sign"%>
<br>
<%= button_to "Delete Item", menu_item_path(@menu_item), method: :delete, :class=>"btn_cancel" %>
<% end %>
<br>


<%=link_to "Back", (menu_path(session[:menu_id]) unless session[:menu_id].nil?), :class =>"back"%>
