<h2>Edit Dininghall </h2>

<%= form_with model: @dininghall, method: :put, local: true do |dininghall_form|%>
    <%= render 'form_template', dininghall_form: dininghall_form%>

    <br>
    <%= link_to "Back", get_previous_path %>
    <%= dininghall_form.submit "Update Dininghall" %>
<% end %>
<br>
<%= link_to "Back", dininghalls_path %>