<h1> <%= @dininghall.name %> </h1>
<h2> Hours of Operation: </h2>
<dd> <%= @dininghall.hours %> </dd>
<dd> <%= @dininghall.breakfast_hours %> </dd>
<dd> <%= @dininghall.time %> </dd>

<br>
<%= link_to "Update Dininghall", edit_dininghall_path(@dininghall)%>