
<h1 class="header"> <%= @dininghall.name %> </h1>
</div>

<h2> Hours of Operation: <%= @dininghall.hours %> </h2>
<br>
<% if user_signed_in? && current_user.admin %>
<%= link_to "Update Dining Hall", edit_dininghall_path(@dininghall)%>
<br>
<%= button_to "Delete Dining Hall", dininghall_path(@dininghall), method: :delete%>
<% end %>
<br>

<%= link_to "Back", dininghalls_path, :class=>"back" %>

