<!DOCTYPE html>
<html>
  <head>
    <title>DiningApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      </div>
      <% if user_signed_in? %>
        <div class="col-md-2 offset-md-6">
          <%= link_to t("logout"), destroy_user_session_path, method: :delete, :class => "btn btn-warning btn-sm" %>
        </div>
      <% else %>
        <div class="col-md-2 offset-md-6">
          <%= link_to "Sign in", new_user_session_path, :class => "btn btn-sm btn-primary" %>
          <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-md-4 alert alert-light">
          <span>
            <%= "Welcome #{current_user.email}" %>
          </span>
          <% if current_user.admin %>
            <span>(admin user)</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <br/>
    <% if flash[:notice] %>
      <div class="alert alert-primary">
        <%= "#{flash[:notice]}"%>
      </div>
    <%end%>

    <% if flash[:warning] %>
      <div class="alert alert-warning">
        <%= "#{flash[:warning]}"%>
      </div>
    <%end%>
    <%= yield%>
  </body>
</html>
