<!DOCTYPE html>
<html>
  <head>
    <title>DiningApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
  <%# for a signed in user%>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= button_to t("logout"), destroy_user_session_path, method: :delete, :class => "btn_logout" %>
        </div>
  <%# for a not signed in user%>
      <% else %>
        <div>
          <%= link_to "Sign in", new_user_session_path, :class => "btn_sign" %>
          <br>
          <%= link_to "Sign up", new_user_registration_path, :class => "btn_sign" %>
          <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, :class => "btn_sign", :method => :post %>
          </div>
      <% end %>
    </div>
  
    <% if flash[:notice] %>
    <div>
      <div>
        <%= "#{flash[:notice]}" %>
      </div>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div>
      <div>
        <%= "#{flash[:alert]}" %>
      </div>
    </div>
  <% end %>
    <%= yield%>
  </body>
</html>
